li.menu-item-object-yspl_win
  display: flex
  align-items: center

.yspl_win_widget_nav
  ul
    list-style: none
    padding: 0
    li
      display: inline
      a
        display: inline

header.site-header
  .navbar-nav
    a
      font-size: 1.2rem
      font-weight: 600
      padding: 0 0.75rem
      color: #fff
