li.menu-item-object-yspl_win
  display: flex
  align-items: center

.yspl_win_widget_nav
  ul
    list-style: none
    padding: 0
    li
      display: inline
      a
        display: inline

header.site-header
  .navbar-nav
    .menu-item
      position: relative
      margin: 0 20px
    li.menu-item > a
      font-size: 1.2rem
      font-weight: 600
      color: #fff
      cursor: pointer
      padding: 5px 20px
      text-decoration: underline

      &:hover
        text-decoration: none


      


