.blog-wrapper
    background: black
    padding: 15px
    border-radius: 20px

.blog-posts-item
    h2 > a
        color: white
        text-decoration: none

    padding-bottom: 5px
    margin-bottom: 50px
    .read-more
        background: $primary-color


.previous-posts-link
    a
        background-color: #0057B7
        color: white
.next-posts-link
    a
        background-color: #FFDD00
        color: black