.language-switcher-wrapper
  padding-left: 0
  .lang-item
    display: inline
    margin-right: 10px
    @media (max-width: 991px)
      margin-right: 55px
    a
      color: white
      text-decoration: none
      text-transform: uppercase
    img
      width: 50px